// Column Picker
.column-picker-trigger-container {
  float: right;
}

/* drop arrow */
.column-picker-trigger {
    padding-right: 20px;
    position: relative;
    &:after {
        border: 4px solid transparent;
        border-top-color: #111;
        content: "";
        height: 0;
        position: absolute;
        right: 8px;
        top: 13px;
        width: 0;
    }

    &[aria-disabled]:after {
        border-top-color: #999;
    }
}


.column-picker {
  .aui-message {
    margin: 10px;
  }
}

form.aui.column-picker {
  @colpicker-width: 300px;
  @colpicker-padding: 10px;

  .check-list-top-panel {
    padding: @colpicker-padding;

    button {
      margin-left: 0;
    }
  }

  h3 {
    font-weight: normal;
  }

  .button-panel {
    border-top: 1px solid #cccccc;
    padding: @colpicker-padding;
    text-align: right;
  }

  .check-list-select {
    width: @colpicker-width;
  }

  .disabled {
    opacity: .5;
  }

  [aria-disabled] {
    opacity: .5;

    &:hover {
      color: #999;
    }
  }
}