
.border-box() {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* order strong selector from aui (5.2 only) */
.aui-theme-default .list-ordering a.order-by {
  color: #707070;
  &:link, &:visited {
    color: #707070;
  }
}

.list-ordering {
  .border-box();
  padding-right: 20px;
  overflow: hidden;
  .order-by {
    .border-box();
    color: #707070;
    float: left;
    font-size: 12px;
    font-weight: bold;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding:5px;
    position: relative;
    &:after {
      content: "";
      background-position: 100% 50%;
      background-repeat: no-repeat;
      display: block;
      height: 16px;
      position: absolute;
      right: 4px;
      top: 5px;
      width: 12px;
    }
    &.ascending {
      padding-right: 17px;
      &:after {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAYAAAALpr0TAAAAL0lEQVQYV2P4//8/AzIuLy9vAGF0cWyK/kMximJcijAU41OEopiQIrhi0t1If4UAykjoh8JG3G8AAAAASUVORK5CYII=");
      }

    }
    &.descending {
      padding-right: 17px;
      &:after {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAYAAAALpr0TAAAANElEQVQY02P4//8/AwyXl5c3APF/KG5AlmMYQIVokrhwAzaTMBShWI1DcQNlnkFS3IAuDgDKSOiHYDSrdgAAAABJRU5ErkJggg==");
      }
    }
    &:hover {
      background-color:#e6e6e6;
      color: #333;
      text-decoration: none;
    }
  }
  .order-options {
    text-indent: -999em;
    display: block;
    float: left;
    overflow: hidden;
    width: 20px;
    height: 16px;
    position: relative;
    margin: 5px -25px 0 0;
    &:before {
      border-left: 1px solid #ddd;
      content: "";
      height: 16px;
      position: absolute;
      left: 0;
      top: 0;
      width: 1px;
    }
    &:after {
      border: 4px solid transparent;
      border-top-color: #777;
      content: "";
      height: 0;
      position: absolute;
      right:6px;
      top: 6px;
      width: 0;
    }
    &:hover {
      background-color: #bbb;
      &:after {
        border-top-color: #111;
      }
    }
  }

}

.order-dropdown {
  .aui-list-scroll {
    max-height: 350px;
  }
  .aui-list-section-footer {
    border-top: 1px solid #bbb;
  }
}

#order-by-options-multi-select {
  width: 218px;

  .item-label input {
    position: absolute;
    left: -9999px;
  }
}