@import "webstatic:/ui/global.less";
@import "webstatic:/ui/aui-layout/responsive/issue-view/responsive-issue-view.less";

.page-type-split {
    overflow-y: hidden;
    .navigator-body {
        background-color: white;
        border-bottom: 0;
    }
    .navigator-group {
        background-color: #fff;
        padding-right: 0;
        padding-bottom: 0;
    }
    .navigator-sidebar {
        padding-bottom: 0;
        .favourite-filters,
        .filter-info {
            margin-bottom: -10px;
            max-height: none;
            min-height: 0;
        }
    }
    #footer {
        display: none;
    }
    .issue-container {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        overflow-x: visible;
        outline: none;
        position: relative;
    }

    /**
     * Override styles for fullscreen layout
     */
    .navigator-group > .results-panel {
        padding: 0;
    }
}

.split-view {
    .list-results-panel {
        .border-right(@aui-color-highlight-secondary);
        // JRADEV-20949 Force box-sizing to be context-box, overriding AUI's border-box. This is because
        // Safari doesn't respect border-box for display: table-cell, causing inconsistent behaviour with Sidebar.js
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        width: 320px;
        padding-left: 15px;
        + .detail-panel {
            padding-left: 0;
        }
        .count-pagination {
            .border-top(@aui-color-highlight-secondary);
            margin-top: 0;

            // Making the pagination controls more compact to fit in split view
            .pagination {
                padding: 0 10px 0 0;
                vertical-align: middle;
            }
            .icon-previous {
                width: 13px;
                margin-left: 0;
            }
            .icon-next {
                width: 6px;
            }
        }
    }

    #stalker,
    .issue-header {
        background-color: #fff;
        padding: 0;
        &.detached {
            box-shadow: 10px -4px 10px 0 rgba(0, 0, 0, 0.5);
        }
    }
    .ops.page-navigation * {
        float: right;
    }

    #stalker {
        .issue-header-content {
            > .command-bar {
                border-top: none;
            }
            > .aui-page-header .aui-page-header-actions {
                width: auto;
            }
        }
    }
}

/* These are extensions of the issue-view (core) responsive stuff, hence the mixins */
/* Don't add the same layout changes to both files, make a new mixin instead */
/* Bare that in mind if you change stuff */
.skinny {
    .split-view {
        .responsive-links();

        .list-results-panel {
            width:250px;
        }
        .property-list {
            &.two-cols {
                > .item {
                    width: 100%;
                }
                > .item-right {
                    clear: both;
                    float: left;
                }
            }
        }

        #viewissuesidebar {
            width: 280px;

            .responsive-item-details();

            .responsive-time-tracking();

        }

        .issue-header {
            .aui-toolbar .toolbar-group .toolbar-trigger,
            .aui-toolbar .aui-dd-parent a.aui-dd-trigger {
                font-size: 12px;
                height:24px;
                line-height: 24px;
                padding: 0 6px;
            }
        }
        #activitymodule {
            #issue-tabs {
                padding-left: 10px;
            }
        }
    }
}

.very-skinny  {
    .split-view {
        .property-list {
            .wrap {
                padding:0;
            }
            .item {
                .name {
                    float: none;
            margin-left: 0;
                    text-align: left;
                    width: 100%;
                }
                .value {
                    margin-left: -5px;
                }
            }
        }
        .issue-header {
            .icon + .trigger-label {
                display: none;
            }
        }
    }
}

.list-panel {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 10px 10px 0 0;
}

.issue-list {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    > li {
        .border-bottom(@subtlebordercolour);
        cursor: pointer;
        padding: 5px 0 5px 5px;
        position: relative;
        &.focused {
            background-color: @jira-color-selection-background;
        }
        .date-info {
            color: @subtlefontcolour;
            time {
                margin-left: 4px;
            }
        }
        img {
            vertical-align: text-bottom;
        }
        .splitview-issue-link {
            outline: none;

            .issue-link-summary {
                .text-overflow();
                display: block;
                margin-top: 3px;
            }
        }
    }
}
