@import "miscellaneous.less";
@aui-border-color: #ccc;
@inline-edit-outline: @aui-border-color;
@inline-edit-bg: #f0f0f0;
@inline-edit-right-padding: 30px;

//This style is used to give a field the same styling as inline-editable field
//By keeping the same styling, it avoids the jumping behaviour when applying actual inline edit styling
.view-issue-field {
    display: inline-block;
    padding-right: @inline-edit-right-padding;
}

.editable-field {
    .border-box();
//    .transition(outline, 150ms, ease-in);
    .transition(box-shadow, 150ms, ease-in);
    border-radius: 2.01px;
    cursor: text;
    display: inline-block;
    max-width:100%;
    box-shadow: 0 0 0 0 transparent;
//    outline: 0 solid transparent;
    padding: 2px @inline-edit-right-padding 2px 5px; // needs to match the indent of an AUI form field
    position: relative;
    vertical-align: top;
    word-break: break-word;

    &:hover,
    &.saving {
        box-shadow: 0 0 0 1px @inline-edit-outline;
//        outline: 1px solid @inline-edit-outline;
        .overlay-icon {
            .opacity(1);
            z-index: auto;
        }
    }
    &:hover {
        background-color: #fff;
        .overlay-icon {
            .transition(opacity, 150ms, ease-in);
        }
    }
    &.saving {
        .save-options,
        .field-tools {
            display: none;
        }
        form.aui .field-group .aui-ss-icon.drop-menu,
        form.aui .field-group .aui-ss-field {
            border-bottom-right-radius: 3.01px;
        }
    }
    &.active {
        background-color: #fff;
        display: block !important;
        box-shadow: 0 0 0 0 transparent;
//        outline: 0 solid transparent;

        .overlay-icon {
            .opacity(0);
            z-index: -1;
        }
        &.saving .overlay-icon {
            .opacity(1);
            z-index: auto;
        }
        .save-options {
            .aui-button,
            .aui-button.cancel {
                height: 24px;
                padding: 0 4px;
            }
        }
    }
    // Specific types editable fields relating to field types
    &.type-radiobuttons,
    &.type-multicheckboxes {
        &.active {
            form.aui {
                border: 1px solid @inline-edit-outline;
                padding: 4px 5px;
            }
        }
    }
    &.type-cascadingselect form.aui .inline-edit-fields {
        select {
            width: 49%;

            + select {
                float: right;
            }
        }
    }
    // JIRA Suite Utilities plugins Location Text Field Custom Field
    // needs to be full width to display the map correctly.
    &.type-locationtextfield,
    &.type-locationselect {
        display: block
    }

    .overlay-icon {
        .border-box;
        .opacity(0);

        background-color: @inline-edit-bg;
        background-repeat: no-repeat;
        background-position: 4px 4px;
        border-left: 1px solid @inline-edit-outline;
        bottom: 0;
        height: auto;
        margin: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 24px;
        z-index: -1;

        &.throbber {
            background-image: inlineimageunoptim("issueviewer/images/wait.gif");
            border: 1px solid @inline-edit-outline;
        }
        &.aui-iconfont-edit {
            color: #707070;
            cursor: pointer;
            &:before {
              top: 12px;
              left: 3px;
            }
        }
    }
    .save-options {
        background-color: @inline-edit-bg;
        border: 1px solid @inline-edit-outline;
        border-top: none;
        border-radius: 0 0 3px 3px;
        box-shadow: 0 3px 6px rgba(111, 111, 111, 0.2);
        outline: none;
        padding: 3px;
        position: absolute;
        right: 0;
        top: 100%; // so it "hangs" from the bottom
        z-index: 1; // so it appears over the top of content which appears after it on the page

        .aui-button {
            + .aui-button {
                margin-left: 3px;
            }
            .aui-iconfont-success {
                color:#707070;
                &:before {
                    font-size: 14px;
                    left: 1px;
                    margin-top: -7px;
                }
            }
            .aui-iconfont-close-dialog {
                color:#707070;
            }
            &:hover,
            &:focus {
                .aui-iconfont-success {
                    color: #333;
                }
                .aui-iconfont-close-dialog {
                    color: #333;
                }
            }
        }
    }

    // Tweaks to AUI forms
    form.aui {
        margin: -2px -30px -2px -5px; // pull out equal to .editable-field padding

        .group,
        .field-group {
            clear: none;
            margin: 0;
            padding: 0;
            &:after {
                clear: none;
            }
        }
        .field-group {
            .aui-ss,
            .jira-multi-select,
            .group,
            input[type=text],
            select,
            textarea,
            .text {
                text-align: left;
                vertical-align: top;
                max-width: none;
                width: 100%;
            }
            // Single Select tweaks
            .drop-menu,
            .jira-multi-select textarea,
            .aui-ss-field {
                border-bottom-right-radius: 0;
            }
            .inline-edit-error {
                background-color: #d04437;
                clear: both;
                color: #fff;
                font-weight: normal;
                margin: 0;
                padding: 5px;
            }
            + .field-group {
                background: @inline-edit-bg;
                border: 1px solid @inline-edit-outline;
                padding: 5px;

                label {
                    display: inline;
                    color: #707070;
                    float: none;
                    margin: 0;
                    padding: 0;
                    text-align: left;
                    width: auto;

                    &:after {
                        content: ": ";
                    }
                }
                .field-value {
                    font-weight: normal;
                    padding: 0;
                }
            }
        }
        //ADG specific tweaks to inline editable aui form items
        .aui-ss.aui-ss-has-entity-icon > .aui-ss-field {
            padding-left: 23px;
        }
        .aui-ss > .aui-ss-entity-icon {
            left: 5px;
        }
        .text,
        .password,
        .select {
            height: 1.71429em;
            line-height: 1;
            padding: 4px 3px;
        }
        .select[multiple="multiple"] {
            min-height: 6em;
        }
        .textarea {
            padding: 2px 3px;
        }
        .select {
            padding: 0;
        }
        .jira-multi-select > .representation .item-row {
            padding: 1px 4px 1px 0;
        }
        .jira-multi-select > .representation .item-row > .value-item {
            margin:0;
        }
        .text,
        .password,
        .textarea,
        .select,
        .multi-select {
            box-shadow: 0 1px 3px #e8e8e8 inset;
        }
    }
    // explicit form field styles
    .text,
    .textarea {
        + a {
            .border-box;
            background-color: @inline-edit-bg;
            background-repeat: no-repeat;
            border: 1px solid @inline-edit-outline;
            height: 30px;
            margin: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 24px;
            z-index: 1;

            .aui-icon {
                margin: 4px 0 0 3px;
            }
        }
    }
    // icons that sit below certain custom fields like wiki-enabled textareas
    .field-tools {
        border-right: 1px solid @aui-border-color;
        display: inline-block;
        margin: 0 10px 0 5px;
        padding-right: 10px;
        a + a {
            margin-left: 5px;
        }
    }
    // styling the wiki preview area
    .wiki-edit-content.previewClass {
        border: 1px solid @aui-border-color;
        padding: 10px;
        .content-inner {
            padding: 0;
        }
    }
    // Things we want to hide for this view
    .field-group > .help-lnk,
    .edit-labels,
    #assign-to-me-trigger,
    .description {
        display: none;
    }
}
.issue-body-content {
    .item-details dl > dt {
        .border-box();
        padding: 2px 5px 2px 0;
    }
    .item-details dl > dd {
        .border-box();
        padding: 2px 0 2px 5px;
        .editable-field {
            margin: -2px 0 -2px -5px;
        }
    }
    .item-details dl {
        margin-top: 1px;
    }
  }

// Special styles for the main heading on the page
#summary-val {
    margin-left: -5px;
    padding: 2px 30px 2px 5px;

    // size the input field to match the h1 sizing to avoid a "jump"
    .text {
        height: 1.66666666666667em; // desired height = 40px. h1 text is 24px high. 40/24 = 1.66666666666667
        line-height: 1.2; // desired line-height = 30px. h1 text is 25px high. 30/25 = 1.2
    }

    // TF-284 - since .editable-field has no longer z-index, this is another fix for JRA-35490
    z-index: 1;
}

// JRADEV-20815
.editable-field #issuetype-single-select {
    max-width:none;
}

// JRADEV-17592 - Get the editable description to line up with the heading
#description-val.editable-field {
    margin: -2px 0 0 -5px;
}
