.border-box () {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.shadow (@offsetX, @offsetY, @spread, @color) {
    -webkit-box-shadow: @offsetX @offsetY @spread @color;
    box-shadow: @offsetX @offsetY @spread @color;
}

.opacity (@opacity) {
    opacity: @opacity;
}

.clearfix () {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.transition (@property, @duration, @timingfunction, @delay: 0ms) {
    -webkit-transition: e(@property) @duration @timingfunction @delay;
    transition: e(@property) @duration @timingfunction @delay;
}
